<form method="post" action="{{ path('produto_delete', {'id': produto.id}) }}" onsubmit="return confirm('Você tem certeza que quer deletar esse item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produto.id) }}">

    <div class="d-flex flex-row">
    <button class="btn btn-dark m-0" style="width: 10vw">Deletar</button>
    </div>
</form>
