{% extends 'base.html.twig' %}

{% block title %}Editar Produto{% endblock %}

{% block body %}
    <h1>Editar Produto</h1>

    {{ include('controller_produto/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a class="btn btn-dark my-3" style="width: 10vw" href="{{ path('produto_index') }}">Voltar</a>

    {{ include('controller_produto/_delete_form.html.twig') }}
{% endblock %}
