{% extends 'base.html.twig' %}

{% block title %}Novo Produto{% endblock %}

{% block body %}
    <h1>Criar Novo Produto</h1>

    {{ include('controller_produto/_form.html.twig') }}

    <a class="btn btn-dark my-3" style="width: 10vw" href="{{ path('produto_index') }}">Voltar</a>
{% endblock %}
